.DesktopPreviewModal .main-image,
.DesktopPreviewModal .close-image-modal {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .DesktopPreviewModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 3;
    padding-top: 75px;
  }

  .DesktopPreviewModal div {
    position: relative;
  }

  .DesktopPreviewModal .close-image-modal {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: -40px;
  }

  .DesktopPreviewModal .close-image-modal img {
    width: 25px;
  }

  .DesktopPreviewModal div {
    width: 600px;
    margin: 0 auto;
  }

  .DesktopPreviewModal .main-image,
  .DesktopPreviewModal .close-image-modal,
  .DesktopPreviewModal .main-image button {
    display: contents;
  }

  .DesktopPreviewModal .main-image .prev-btn,
  .DesktopPreviewModal .main-image .next-btn {
    background-color: #eee;
    padding: 12px 15px;
    border-radius: 50%;
    top: 40%;
  }

  .DesktopPreviewModal .main-image .prev-btn {
    left: -20px;
  }

  .DesktopPreviewModal .main-image .next-btn {
    right: -20px;
  }
}
