.Header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #fff;
  z-index: 1;
}

.Header nav ul {
  display: flex;
  align-items: center;
}

.Header nav li {
  list-style: none;
  margin: 0 5px;
}

.Header nav button {
  background-color: transparent;
  border: none;
}

.Header nav .sidebar {
  width: 20px;
}

.Header nav .profile-icon {
  width: 40px;
}
