.ImageContainer .main-image {
  margin-top: 65px;
  position: relative;
}

.ImageContainer .main-image img {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.ImageContainer .main-image li {
  position: absolute;
  list-style: none;
  transform: translateY(-50%);
  top: 50%;
}

.ImageContainer .main-image button {
  padding: 12px 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.ImageContainer .main-image .prev-btn {
  left: 15px;
}

.ImageContainer .main-image .next-btn {
  right: 15px;
}

.ImageContainer .desktop-preview-container {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .ImageContainer {
    margin-top: 25px;
  }

  .ImageContainer .main-image img {
    max-width: none;
    cursor: pointer;
  }

  .ImageContainer .main-preview-image {
    border-radius: 15px;
    width: 650px;
  }

  .ImageContainer .main-image button {
    display: none;
  }

  .ImageContainer .desktop-preview-container {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
  }

  .ImageContainer .desktop-preview-container img {
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
  }

  .ImageContainer .selected-image {
    outline: 3px solid hsl(26, 100%, 55%);
    height: 100px;
    border-radius: 10px;
  }

  .ImageContainer .selected-image img {
    opacity: 50%;
  }
}
