.SidebarContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background-color: #fff;
  z-index: 1;
  padding: 25px;
  transition: 0.3s transform ease-in;
}

.SidebarContainer button {
  background-color: transparent;
  border: none;
}

.SidebarContainer ul {
  margin-top: 40px;
  list-style: none;
}

.SidebarContainer li {
  margin: 20px 0;
}

.SidebarContainer a {
  padding: 10px 0;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  font-weight: 700;
}

.sidebar-not-active {
  transform: translateX(-101%);
}

@media only screen and (min-width: 1440px) {
  .SidebarContainer {
    display: none;
  }
}
